@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Pacifico&display=swap');
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 500px;
  margin: auto;
}

header {
  background-color: #4caf50;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  font-family: 'Pacifico', cursive;
  font-weight: 300;
}

main {
  padding: 20px;
}
@media (max-width: 600px) {
  .app-container {
    width: 90%; /* Adjust width for smaller screens */
  }

  header {
    padding: 15px;
  }

  main {
    padding: 15px;
  }
}
